In [87]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
import time

In [88]:
print(os.path.abspath(os.path.join(os.getcwd(), "..", "..", "Datasets", "csv", "patients.csv")))

/home/sarvesh/Synthea-Based-Hospital-Dashboard/Datasets/csv/patients.csv

In [89]:
data = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), "..", "..", "Datasets", "csv", "patients.csv")))

In [90]:
data

,847a8453-1fdb-024f-23ef-9d637b414661,2010-06-18,Unnamed: 2,999-35-2195,Unnamed: 4,Unnamed: 5,Unnamed: 6,Curt84,Unnamed: 8,Deckow585,...,Winchester,Massachusetts,Middlesex County,25017,01890,42.42318612445682,-71.09463768724248,21127.50,12979.48,170392
0,721bff8d-f7d7-90ee-2fac-a68169225336,2014-10-17,NaN,999-91-2704,NaN,NaN,NaN,Eric487,NaN,Beer512,...,Lanesborough,Massachusetts,Berkshire County,NaN,0,42.497552,-73.244270,25093.80,0.00,190225
1,c4f0e645-7dec-0eb1-fd90-4a78a8d28a62,2022-04-04,NaN,999-13-9462,NaN,NaN,NaN,Coreen424,Dori98,Smith67,...,Waltham,Massachusetts,Middlesex County,25017.0,2452,42.397359,-71.274667,9523.03,0.00,43158
2,cbcaea00-80fa-88d4-3f23-b0000325769c,2010-05-20,NaN,999-89-2085,NaN,NaN,NaN,Clotilde434,Thelma273,Kling921,...,Brockton,Massachusetts,Plymouth County,25023.0,2301,42.068009,-70.991348,28046.82,31472.09,141036
3,2830f9c0-572c-808f-65eb-01d71fdb2cbe,1994-11-18,NaN,999-10-6592,S99928680,X72456889X,Mrs.,Katerine813,Rosalinda949,Grady603,...,Medford,Massachusetts,Middlesex County,25017.0,2155,42.438622,-71.070821,359619.18,34140.17,46222
4,f449cf96-88ed-7f57-b323-d7ad791a8160,2003-03-30,NaN,999-31-6308,S99981295,X17035184X,Ms.,Viviana350,NaN,Abshire638,...,Northampton,Massachusetts,Hampshire County,25015.0,1062,42.292080,-72.730414,59426.72,136556.50,990949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,8a1e0d0f-96a6-8ec0-9400-79f4741c9305,1978-01-20,NaN,999-52-4347,S99938677,X21701955X,Mr.,Florencio463,NaN,Anderson154,...,Charlemont,Massachusetts,Franklin County,NaN,0,42.602639,-72.842998,8045.93,86624.10,5837
90,1e712b22-5d61-e941-5df2-f8245f3f45d6,2025-03-20,NaN,999-52-1247,NaN,NaN,NaN,Dorian295,Aldo414,Kohler843,...,Newton,Massachusetts,Middlesex County,25017.0,2467,42.352880,-71.179321,4452.89,0.00,119707
91,cc61510b-ca13-4c39-25c0-83f24df0eb96,1994-02-14,NaN,999-10-6167,S99974249,X17670896X,Mrs.,Charmain607,Naomi520,Jones311,...,Beverly,Massachusetts,Essex County,25009.0,1915,42.538335,-70.837599,124221.05,159051.79,88578
92,79489593-6c0a-f9e9-a1df-ba9a79ae866a,1991-11-04,NaN,999-42-6497,S99910893,X88609866X,Mr.,Ryan260,NaN,Nikolaus26,...,North Adams,Massachusetts,Berkshire County,25003.0,1247,42.673901,-73.120410,105087.73,9556.80,39686
93,e62c111b-19a0-2bc1-1429-3024a43cb451,2005-06-28,NaN,999-67-2889,S99958021,X2027156X,Mr.,Joseph689,Rubin812,Casper496,...,Scituate,Massachusetts,Plymouth County,25023.0,2066,42.236502,-70.751098,24486.42,15554.58,749307

In [91]:
for index, col in enumerate(data.columns):
    print(f"Index: {index}, col name: {col} \n")

Index: 0, col name: 847a8453-1fdb-024f-23ef-9d637b414661

Index: 1, col name: 2010-06-18

Index: 2, col name: Unnamed: 2

Index: 3, col name: 999-35-2195

Index: 4, col name: Unnamed: 4

Index: 5, col name: Unnamed: 5

Index: 6, col name: Unnamed: 6

Index: 7, col name: Curt84

Index: 8, col name: Unnamed: 8

Index: 9, col name: Deckow585

Index: 10, col name: Unnamed: 10

Index: 11, col name: Unnamed: 11

Index: 12, col name: Unnamed: 12

Index: 13, col name: white

Index: 14, col name: nonhispanic

Index: 15, col name: M

Index: 16, col name: Medford  Massachusetts  US

Index: 17, col name: 482 Ward Wynd Apt 92

Index: 18, col name: Winchester

Index: 19, col name: Massachusetts

Index: 20, col name: Middlesex County

Index: 21, col name: 25017

Index: 22, col name: 01890

Index: 23, col name: 42.42318612445682

Index: 24, col name: -71.09463768724248

Index: 25, col name: 21127.50

Index: 26, col name: 12979.48

Index: 27, col name: 170392

In [92]:
#Find out rows having least number of NaN values for better searching in json
data[data.isna().sum(axis=1) == 0]

Empty DataFrame
Columns: [847a8453-1fdb-024f-23ef-9d637b414661, 2010-06-18, Unnamed: 2, 999-35-2195, Unnamed: 4, Unnamed: 5, Unnamed: 6, Curt84, Unnamed: 8, Deckow585, Unnamed: 10, Unnamed: 11, Unnamed: 12, white, nonhispanic, M, Medford  Massachusetts  US, 482 Ward Wynd Apt 92, Winchester, Massachusetts, Middlesex County, 25017, 01890, 42.42318612445682, -71.09463768724248, 21127.50, 12979.48, 170392]
Index: []

[0 rows x 28 columns]

In [93]:
data.iloc[:, np.r_[7, 10:18]]

,Curt84,Unnamed: 10,Unnamed: 11,Unnamed: 12,white,nonhispanic,M,Medford Massachusetts US,482 Ward Wynd Apt 92
0,Eric487,NaN,NaN,NaN,white,nonhispanic,M,Lowell Massachusetts US,367 Rowe Gateway
1,Coreen424,NaN,NaN,NaN,white,nonhispanic,F,Dedham Massachusetts US,803 Harber Forge
2,Clotilde434,NaN,NaN,NaN,white,nonhispanic,F,Brookline Massachusetts US,900 Pouros Gateway Suite 93
3,Katerine813,NaN,Dibbert990,M,white,nonhispanic,F,Westborough Massachusetts US,276 MacGyver Arcade
4,Viviana350,NaN,NaN,NaN,white,nonhispanic,F,Cambridge Massachusetts US,250 Schroeder Skyway Apt 49
...,...,...,...,...,...,...,...,...,...
89,Florencio463,NaN,NaN,M,white,nonhispanic,M,Quincy Massachusetts US,386 Kerluke Tunnel Unit 92
90,Dorian295,NaN,NaN,NaN,white,nonhispanic,M,Woburn Massachusetts US,830 Stehr Union Suite 33
91,Charmain607,NaN,Auer97,M,white,nonhispanic,F,Marion Massachusetts US,196 Murazik Bay
92,Ryan260,NaN,NaN,M,white,nonhispanic,M,North Adams Massachusetts US,441 Jerde Stravenue Unit 23
93,Joseph689,NaN,NaN,NaN,white,nonhispanic,M,Chicopee Massachusetts US,620 Corkery Divide Unit 1

In [94]:
data.iloc[:, [20]].value_counts()

Middlesex County
Middlesex County     30
Essex County         13
Worcester County     10
Plymouth County       9
Suffolk County        6
Bristol County        6
Hampshire County      5
Norfolk County        4
Hampden County        3
Berkshire County      3
Franklin County       2
Barnstable County     1
Dukes County          1
Nantucket County      1
Name: count, dtype: int64

In [95]:
data[data.iloc[:, 11] != np.nan].iloc[:, 11]

0            NaN
1            NaN
2            NaN
3     Dibbert990
4            NaN
         ...
89           NaN
90           NaN
91        Auer97
92           NaN
93           NaN
Name: Unnamed: 11, Length: 94, dtype: object

In [96]:
data.iloc[:, [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]]

,Deckow585,Unnamed: 10,Unnamed: 11,Unnamed: 12,white,nonhispanic,M,Medford Massachusetts US,482 Ward Wynd Apt 92,Winchester,Massachusetts,Middlesex County,25017
0,Beer512,NaN,NaN,NaN,white,nonhispanic,M,Lowell Massachusetts US,367 Rowe Gateway,Lanesborough,Massachusetts,Berkshire County,NaN
1,Smith67,NaN,NaN,NaN,white,nonhispanic,F,Dedham Massachusetts US,803 Harber Forge,Waltham,Massachusetts,Middlesex County,25017.0
2,Kling921,NaN,NaN,NaN,white,nonhispanic,F,Brookline Massachusetts US,900 Pouros Gateway Suite 93,Brockton,Massachusetts,Plymouth County,25023.0
3,Grady603,NaN,Dibbert990,M,white,nonhispanic,F,Westborough Massachusetts US,276 MacGyver Arcade,Medford,Massachusetts,Middlesex County,25017.0
4,Abshire638,NaN,NaN,NaN,white,nonhispanic,F,Cambridge Massachusetts US,250 Schroeder Skyway Apt 49,Northampton,Massachusetts,Hampshire County,25015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Anderson154,NaN,NaN,M,white,nonhispanic,M,Quincy Massachusetts US,386 Kerluke Tunnel Unit 92,Charlemont,Massachusetts,Franklin County,NaN
90,Kohler843,NaN,NaN,NaN,white,nonhispanic,M,Woburn Massachusetts US,830 Stehr Union Suite 33,Newton,Massachusetts,Middlesex County,25017.0
91,Jones311,NaN,Auer97,M,white,nonhispanic,F,Marion Massachusetts US,196 Murazik Bay,Beverly,Massachusetts,Essex County,25009.0
92,Nikolaus26,NaN,NaN,M,white,nonhispanic,M,North Adams Massachusetts US,441 Jerde Stravenue Unit 23,North Adams,Massachusetts,Berkshire County,25003.0
93,Casper496,NaN,NaN,NaN,white,nonhispanic,M,Chicopee Massachusetts US,620 Corkery Divide Unit 1,Scituate,Massachusetts,Plymouth County,25023.0

# Renaming the columns and dropping irrelevenat columns

In [97]:
data.columns

Index(['847a8453-1fdb-024f-23ef-9d637b414661', '2010-06-18', 'Unnamed: 2',
       '999-35-2195', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Curt84',
       'Unnamed: 8', 'Deckow585', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'white', 'nonhispanic', 'M', 'Medford  Massachusetts  US',
       '482 Ward Wynd Apt 92', 'Winchester', 'Massachusetts',
       'Middlesex County', '25017', '01890', '42.42318612445682',
       '-71.09463768724248', '21127.50', '12979.48', '170392'],
      dtype='object')

In [98]:
len(data.columns)

28

In [99]:
new_cols_list=["uuid", "birth_date", "death_date", "social_security_number", "driver_license_number", 
                         "passport_number", "salutation", "first_name", "middle_name", "last_name", "doctorate", "_", "marital_status",
                         "race", "ethnicity", "gender", "patient_birthplace", "current_address", "geolocated_city", "geolocated_state",
                         "geolocated_county", "_", "postal_code", "latitude", "longitude", "_", "_", "family_income"]    

old_cols = data.columns

for old_col, new_col in zip(old_cols, new_cols_list):
    data = data.rename(columns={old_col: new_col})

data.drop(columns=[m for m in data.columns if m == "_"], inplace=True)

In [100]:
data

,uuid,birth_date,death_date,social_security_number,driver_license_number,passport_number,salutation,first_name,middle_name,last_name,...,gender,patient_birthplace,current_address,geolocated_city,geolocated_state,geolocated_county,postal_code,latitude,longitude,family_income
0,721bff8d-f7d7-90ee-2fac-a68169225336,2014-10-17,NaN,999-91-2704,NaN,NaN,NaN,Eric487,NaN,Beer512,...,M,Lowell Massachusetts US,367 Rowe Gateway,Lanesborough,Massachusetts,Berkshire County,0,42.497552,-73.244270,190225
1,c4f0e645-7dec-0eb1-fd90-4a78a8d28a62,2022-04-04,NaN,999-13-9462,NaN,NaN,NaN,Coreen424,Dori98,Smith67,...,F,Dedham Massachusetts US,803 Harber Forge,Waltham,Massachusetts,Middlesex County,2452,42.397359,-71.274667,43158
2,cbcaea00-80fa-88d4-3f23-b0000325769c,2010-05-20,NaN,999-89-2085,NaN,NaN,NaN,Clotilde434,Thelma273,Kling921,...,F,Brookline Massachusetts US,900 Pouros Gateway Suite 93,Brockton,Massachusetts,Plymouth County,2301,42.068009,-70.991348,141036
3,2830f9c0-572c-808f-65eb-01d71fdb2cbe,1994-11-18,NaN,999-10-6592,S99928680,X72456889X,Mrs.,Katerine813,Rosalinda949,Grady603,...,F,Westborough Massachusetts US,276 MacGyver Arcade,Medford,Massachusetts,Middlesex County,2155,42.438622,-71.070821,46222
4,f449cf96-88ed-7f57-b323-d7ad791a8160,2003-03-30,NaN,999-31-6308,S99981295,X17035184X,Ms.,Viviana350,NaN,Abshire638,...,F,Cambridge Massachusetts US,250 Schroeder Skyway Apt 49,Northampton,Massachusetts,Hampshire County,1062,42.292080,-72.730414,990949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,8a1e0d0f-96a6-8ec0-9400-79f4741c9305,1978-01-20,NaN,999-52-4347,S99938677,X21701955X,Mr.,Florencio463,NaN,Anderson154,...,M,Quincy Massachusetts US,386 Kerluke Tunnel Unit 92,Charlemont,Massachusetts,Franklin County,0,42.602639,-72.842998,5837
90,1e712b22-5d61-e941-5df2-f8245f3f45d6,2025-03-20,NaN,999-52-1247,NaN,NaN,NaN,Dorian295,Aldo414,Kohler843,...,M,Woburn Massachusetts US,830 Stehr Union Suite 33,Newton,Massachusetts,Middlesex County,2467,42.352880,-71.179321,119707
91,cc61510b-ca13-4c39-25c0-83f24df0eb96,1994-02-14,NaN,999-10-6167,S99974249,X17670896X,Mrs.,Charmain607,Naomi520,Jones311,...,F,Marion Massachusetts US,196 Murazik Bay,Beverly,Massachusetts,Essex County,1915,42.538335,-70.837599,88578
92,79489593-6c0a-f9e9-a1df-ba9a79ae866a,1991-11-04,NaN,999-42-6497,S99910893,X88609866X,Mr.,Ryan260,NaN,Nikolaus26,...,M,North Adams Massachusetts US,441 Jerde Stravenue Unit 23,North Adams,Massachusetts,Berkshire County,1247,42.673901,-73.120410,39686
93,e62c111b-19a0-2bc1-1429-3024a43cb451,2005-06-28,NaN,999-67-2889,S99958021,X2027156X,Mr.,Joseph689,Rubin812,Casper496,...,M,Chicopee Massachusetts US,620 Corkery Divide Unit 1,Scituate,Massachusetts,Plymouth County,2066,42.236502,-70.751098,749307

In [40]:
pattern = r'^[-]?[0-9]+.[0-9]+$'

dropped_cols = [col for col in data.columns if re.match(pattern, col)]

data.drop(columns = dropped_cols, inplace=True)
data.columns

Index(['uuid', 'birth_date', 'death_date', 'social_security_number',
       'driver's_license_number', 'passport_number', 'salutation',
       'first_name', 'middle_name', 'last_name', 'marital_status',
       'maiden_family', 'skin_color', 'hispanic', 'gender', 'address', 'city',
       'state', 'postal_code', 'latitude', 'longitude', 'family_income'],
      dtype='object')

In [41]:
data

,uuid,birth_date,death_date,social_security_number,driver's_license_number,passport_number,salutation,first_name,middle_name,last_name,...,skin_color,hispanic,gender,address,city,state,postal_code,latitude,longitude,family_income
0,f79404d1-856e-6483-efb5-c59ae407cc4f,2007-11-08,NaN,999-83-9576,S99966920,NaN,NaN,Ela754,NaN,Roberts511,...,black,nonhispanic,F,146 Vandervort Mill,Boston,Massachusetts,2111,42.377880,-71.150968,35750.81
1,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,2002-03-11,NaN,999-44-7496,S99925040,X28226638X,Mr.,Von197,NaN,Sauer652,...,white,nonhispanic,M,996 Hettinger Rest,Leicester,Massachusetts,0,42.198972,-71.914731,5170.93
2,64b17845-be57-2777-232c-2b5298e28867,2004-10-02,NaN,999-30-1903,S99936224,X68395742X,Ms.,Johnetta529,Majorie11,Lueilwitz711,...,black,nonhispanic,F,156 Hahn Vale Apt 13,New Bedford,Massachusetts,2747,41.614289,-70.923399,51745.02
3,797457c1-944e-412a-7895-765be4761a76,2003-07-16,NaN,999-91-3408,S99995566,X25480357X,Ms.,Shaquita282,Jane262,Gutkowski940,...,white,nonhispanic,F,267 Ritchie Estate Apt 2,Lowell,Massachusetts,1852,42.672504,-71.381567,110478.37
4,cdcf4a7d-82ea-6251-a2e6-5c81df887fb2,1990-05-11,NaN,999-89-7517,S99944746,X53056401X,Mr.,Samuel331,NaN,Pantoja215,...,white,hispanic,M,974 Heller Harbor Suite 33,Boston,Massachusetts,2108,42.323205,-71.081278,95486.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13847,ea432e6e-cd08-7aa7-aec4-f84e58de9438,1916-02-25,NaN,999-93-3698,S99910239,X24332068X,Mr.,Francisco472,NaN,Raya927,...,white,hispanic,M,633 Feest Trailer Suite 76,Dracut,Massachusetts,0,42.703358,-71.258314,252214.29
13848,13a22b23-4a9a-3c81-a49d-1b5b5d860a22,1938-12-24,NaN,999-51-2412,S99939991,X62290486X,Mrs.,Marlana402,Cherrie404,Bayer639,...,white,nonhispanic,F,330 Feest Ferry Suite 14,Randolph,Massachusetts,2368,42.134344,-71.033445,827858.87
13849,94624af1-2352-16ba-dabe-9f264456f625,1930-10-12,NaN,999-33-5684,S99994120,X51163908X,Mrs.,Sharonda198,Yuette836,Pollich983,...,white,nonhispanic,F,936 Treutel Tunnel Apt 65,Gloucester,Massachusetts,1930,42.587794,-70.705418,1140406.03
13850,d3dedcfd-08af-6326-31eb-6d5d7f28f984,1960-05-02,2011-07-29,999-61-6192,S99969708,X63685098X,Mr.,Owen89,NaN,Jones311,...,black,nonhispanic,M,586 Marquardt Alley Apt 1,Arlington,Massachusetts,2476,42.394910,-71.189216,213002.08
13851,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,1960-05-02,NaN,999-98-2329,S99994277,X8150599X,Mr.,Dante562,Sterling124,Hirthe744,...,black,nonhispanic,M,195 Auer Crossroad,Arlington,Massachusetts,2476,42.399125,-71.177111,219891.17

In [38]:
data[["first_name", "marital_status"]].tail(10)

         first_name marital_status
13842       Lady554            NaN
13843      Javier97            NaN
13844    Obdulia648            NaN
13845     Jacobo456            NaN
13846       Vita624            NaN
13847  Francisco472            NaN
13848    Marlana402            NaN
13849   Sharonda198            NaN
13850        Owen89            NaN
13851      Dante562            NaN

In [39]:
data["skin_color"].value_counts()

skin_color
white       11321
black        1208
asian         893
hawaiian      182
other         181
native         67
Name: count, dtype: int64

In [40]:
data['marital_status'].value_counts()

marital_status
MD     51
PhD    48
JD     46
Name: count, dtype: int64

In [41]:
data.columns

Index(['uuid', 'birth_date', 'death_date', 'social_security_number',
       'driver's_license_number', 'passport_number', 'salutation',
       'first_name', 'middle_name', 'last_name', 'marital_status',
       'maiden_family', 'skin_color', 'hispanic', 'gender', 'address', 'city',
       'state', 'postal_code', 'latitude', 'longitude', 'family_income'],
      dtype='object')

In [42]:
data[data['uuid'] == "7c74cbbf-caf7-3923-add7-b2f9343df1b7"]

Empty DataFrame
Columns: [uuid, birth_date, death_date, social_security_number, driver's_license_number, passport_number, salutation, first_name, middle_name, last_name, marital_status, maiden_family, skin_color, hispanic, gender, address, city, state, postal_code, latitude, longitude, family_income]
Index: []

[0 rows x 22 columns]

In [72]:
data2 = pd.read_csv('../Datasets/csv/conditions.csv')
data2

,2014-10-30,2015-11-05,f79404d1-856e-6483-efb5-c59ae407cc4f,f79404d1-856e-6483-473b-cf6381eea492,SNOMED-CT,314529007,Medication review due (situation)
0,2015-10-17,2018-11-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-bff2-1480d9ddb744,SNOMED-CT,314529007,Medication review due (situation)
1,2016-04-11,2017-04-17,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,SNOMED-CT,314529007,Medication review due (situation)
2,2012-08-27,2018-10-01,86ea3680-c314-2cad-79d7-ef5db46ac53d,86ea3680-c314-2cad-a9dc-079acd5e8d99,SNOMED-CT,314529007,Medication review due (situation)
3,2016-10-22,2016-11-05,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-6fbe-b8ddc4767441,SNOMED-CT,66383009,Gingivitis (disorder)
4,2012-07-18,2016-08-10,797457c1-944e-412a-7895-765be4761a76,797457c1-944e-412a-2cc9-81ef94796163,SNOMED-CT,314529007,Medication review due (situation)
...,...,...,...,...,...,...,...
503018,2024-07-22,NaN,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-0a2c-f961b59bb517,http://snomed.info/sct,314529007,Medication review due (situation)
503019,2024-08-05,2024-08-05,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-7c23-e7a00011ebf2,http://snomed.info/sct,278602001,Loose dental filling (finding)
503020,2025-02-18,2025-03-01,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-284b-e66a0823b4b2,http://snomed.info/sct,195662009,Acute viral pharyngitis (disorder)
503021,2025-07-28,NaN,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,741062008,Not in labor force (finding)
503022,2025-07-28,NaN,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,423315002,Limited social contact (finding)

In [73]:
new_cols_list=["event_start", "event_end", "uuid", "record_id", "_", "event_code", "event_description"]

old_cols = data2.columns

for old_col, new_col in zip(old_cols, new_cols_list):
    data2 = data2.rename(columns={old_col: new_col})

data2.drop(columns=[col for col in data2.columns if re.match("_", col)], inplace=True)

In [74]:
data2[data2["uuid"] == "64b17845-be57-2777-232c-2b5298e28867"]

,event_start,event_end,uuid,record_id,event_code,event_description
0,2015-10-17,2018-11-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-bff2-1480d9ddb744,314529007,Medication review due (situation)
3,2016-10-22,2016-11-05,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-6fbe-b8ddc4767441,66383009,Gingivitis (disorder)
27,2018-11-03,2019-11-09,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-d573-ac494c3f6a78,160968000,Risk activity involvement (finding)
28,2018-11-03,2018-11-17,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-d573-ac494c3f6a78,66383009,Gingivitis (disorder)
34,2018-11-17,2018-11-17,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-37d7-ad4a2b73ba7f,109570002,Primary dental caries (disorder)
37,2019-11-09,2021-11-20,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-a0dc-40cf78e79197,314529007,Medication review due (situation)
38,2019-11-09,2019-11-23,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-a0dc-40cf78e79197,66383009,Gingivitis (disorder)
54,2020-11-14,2021-11-20,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-21f3-9ebe03c71e0a,160968000,Risk activity involvement (finding)
62,2021-11-20,2021-12-04,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-c556-b5c970f92f2d,66383009,Gingivitis (disorder)
63,2021-12-03,2021-12-22,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-36f5-95117d11060e,10509002,Acute bronchitis (disorder)
82,2021-12-18,2021-12-25,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-95dd-3072b3e4ddfc,314529007,Medication review due (situation)
93,2022-01-01,2022-01-01,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-b326-3f6a2c635c71,109570002,Primary dental caries (disorder)
98,2022-07-15,2022-08-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-1eb8-8a69e2aa4c58,312608009,Laceration - injury (disorder)
99,2022-07-15,2022-08-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-1eb8-8a69e2aa4c58,283385000,Laceration of thigh (disorder)
100,2022-08-03,2022-08-13,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-adaa-45b342fd2d5b,195662009,Acute viral pharyngitis (disorder)
104,2022-11-26,NaN,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-da99-7848166eb35a,314529007,Medication review due (situation)
105,2022-11-26,NaN,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-da99-7848166eb35a,473461003,Educated to high school level (finding)
106,2022-11-26,2023-12-02,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-da99-7848166eb35a,160904001,Part-time employment (finding)
107,2022-11-26,2023-12-02,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-da99-7848166eb35a,422650009,Social isolation (finding)
108,2023-12-02,NaN,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-c558-a38f7d315c8a,741062008,Not in labor force (finding)
109,2023-12-02,NaN,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-c558-a38f7d315c8a,361055000,Misuses drugs (finding)

In [75]:
data2['event_end'] = data2['event_end'].fillna(value="Undergoing")
data2

,event_start,event_end,uuid,record_id,event_code,event_description
0,2015-10-17,2018-11-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-bff2-1480d9ddb744,314529007,Medication review due (situation)
1,2016-04-11,2017-04-17,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,314529007,Medication review due (situation)
2,2012-08-27,2018-10-01,86ea3680-c314-2cad-79d7-ef5db46ac53d,86ea3680-c314-2cad-a9dc-079acd5e8d99,314529007,Medication review due (situation)
3,2016-10-22,2016-11-05,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-6fbe-b8ddc4767441,66383009,Gingivitis (disorder)
4,2012-07-18,2016-08-10,797457c1-944e-412a-7895-765be4761a76,797457c1-944e-412a-2cc9-81ef94796163,314529007,Medication review due (situation)
...,...,...,...,...,...,...
503018,2024-07-22,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-0a2c-f961b59bb517,314529007,Medication review due (situation)
503019,2024-08-05,2024-08-05,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-7c23-e7a00011ebf2,278602001,Loose dental filling (finding)
503020,2025-02-18,2025-03-01,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-284b-e66a0823b4b2,195662009,Acute viral pharyngitis (disorder)
503021,2025-07-28,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,741062008,Not in labor force (finding)
503022,2025-07-28,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,423315002,Limited social contact (finding)

In [ ]:
data2[["event_description", "event_type"]] = data2["event_description"].str.extract(r"^(.*?)\((.*?)\)$")
data2

,event_start,event_end,uuid,record_id,event_code,event_description,event_type
0,2015-10-17,2018-11-03,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-bff2-1480d9ddb744,314529007,Medication review due,situation
1,2016-04-11,2017-04-17,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,314529007,Medication review due,situation
2,2012-08-27,2018-10-01,86ea3680-c314-2cad-79d7-ef5db46ac53d,86ea3680-c314-2cad-a9dc-079acd5e8d99,314529007,Medication review due,situation
3,2016-10-22,2016-11-05,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-6fbe-b8ddc4767441,66383009,Gingivitis,disorder
4,2012-07-18,2016-08-10,797457c1-944e-412a-7895-765be4761a76,797457c1-944e-412a-2cc9-81ef94796163,314529007,Medication review due,situation
...,...,...,...,...,...,...,...
503018,2024-07-22,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-0a2c-f961b59bb517,314529007,Medication review due,situation
503019,2024-08-05,2024-08-05,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-7c23-e7a00011ebf2,278602001,Loose dental filling,finding
503020,2025-02-18,2025-03-01,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-284b-e66a0823b4b2,195662009,Acute viral pharyngitis,disorder
503021,2025-07-28,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,741062008,Not in labor force,finding
503022,2025-07-28,Undergoing,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,423315002,Limited social contact,finding

In [77]:
print(data2.isnull().sum())

event_start          0
event_end            0
uuid                 0
record_id            0
event_code           0
event_description    0
event_type           0
dtype: int64

In [47]:
data3 = pd.read_csv('../Datasets/csv/allergies.csv')

In [48]:
data3

,1975-07-20,Unnamed: 1,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,609328004,Unknown,Allergic disposition (finding),allergy,environment,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,84489001,Unknown,Mold (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
1,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,260147004,Unknown,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
2,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,264287008,Unknown,Animal dander (substance),allergy,environment,878820003.0,Rhinoconjunctivitis (disorder),MODERATE,267036007.0,Dyspnea (finding),MILD
3,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,256277009,Unknown,Grass pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
4,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,782576004,Unknown,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12860,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,256277009,SNOMED-CT,Grass pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12861,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,782576004,SNOMED-CT,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12862,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,412071004,SNOMED-CT,Wheat (substance),allergy,food,39579001.0,Anaphylaxis (disorder),SEVERE,NaN,NaN,NaN
12863,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,735029006,SNOMED-CT,Shellfish (substance),allergy,food,422587007.0,Nausea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE
12864,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,442571000124108,SNOMED-CT,Tree nut (substance),allergy,food,267036007.0,Dyspnea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE

In [49]:
data3 = data3.rename(columns={

    "b44646bb-9ba3-eaff-98da-82da568db82a": "uuid",
})
data3

,1975-07-20,Unnamed: 1,uuid,b44646bb-9ba3-eaff-3154-3be031da3856,609328004,Unknown,Allergic disposition (finding),allergy,environment,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,84489001,Unknown,Mold (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
1,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,260147004,Unknown,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
2,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,264287008,Unknown,Animal dander (substance),allergy,environment,878820003.0,Rhinoconjunctivitis (disorder),MODERATE,267036007.0,Dyspnea (finding),MILD
3,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,256277009,Unknown,Grass pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
4,1975-07-20,NaN,b44646bb-9ba3-eaff-98da-82da568db82a,b44646bb-9ba3-eaff-3154-3be031da3856,782576004,Unknown,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12860,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,256277009,SNOMED-CT,Grass pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12861,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,782576004,SNOMED-CT,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12862,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,412071004,SNOMED-CT,Wheat (substance),allergy,food,39579001.0,Anaphylaxis (disorder),SEVERE,NaN,NaN,NaN
12863,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,735029006,SNOMED-CT,Shellfish (substance),allergy,food,422587007.0,Nausea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE
12864,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,442571000124108,SNOMED-CT,Tree nut (substance),allergy,food,267036007.0,Dyspnea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE

In [28]:
data3[data3["uuid"] == "d3dedcfd-08af-6326-31eb-6d5d7f28f984"]

,1975-07-20,Unnamed: 1,uuid,b44646bb-9ba3-eaff-3154-3be031da3856,609328004,Unknown,Allergic disposition (finding),allergy,environment,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
12856,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,609328004,SNOMED-CT,Allergic disposition (finding),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12857,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,111088007,SNOMED-CT,Latex (substance),allergy,environment,247472004.0,Wheal (finding),MILD,NaN,NaN,NaN
12858,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,84489001,SNOMED-CT,Mold (organism),allergy,environment,21626009.0,Cutaneous hypersensitivity (disorder),MILD,76067001.0,Sneezing (finding),MILD
12859,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,264287008,SNOMED-CT,Animal dander (substance),allergy,environment,878820003.0,Rhinoconjunctivitis (disorder),MODERATE,271807003.0,Eruption of skin (disorder),MILD
12860,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,256277009,SNOMED-CT,Grass pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12861,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,782576004,SNOMED-CT,Tree pollen (substance),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN
12862,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,412071004,SNOMED-CT,Wheat (substance),allergy,food,39579001.0,Anaphylaxis (disorder),SEVERE,NaN,NaN,NaN
12863,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,735029006,SNOMED-CT,Shellfish (substance),allergy,food,422587007.0,Nausea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE
12864,1961-08-20,NaN,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-991b-05ea6735a0a0,442571000124108,SNOMED-CT,Tree nut (substance),allergy,food,267036007.0,Dyspnea (finding),MODERATE,271807003.0,Eruption of skin (disorder),MODERATE

In [52]:
data3['allergy'].value_counts()

allergy
allergy        12592
intolerance      273
Name: count, dtype: int64

In [20]:
data4 = pd.read_csv('../Datasets/csv/procedures.csv')

In [21]:
data4

,2016-04-11T11:37:41Z,2016-04-11T11:48:26Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,SNOMED-CT,171207006,Depression screening (procedure),431.40,Unnamed: 8,Unnamed: 9
0,2016-08-10T04:10:00Z,2016-08-10T04:25:00Z,797457c1-944e-412a-7895-765be4761a76,797457c1-944e-412a-4a1d-9a586185cd67,SNOMED-CT,430193006,Medication reconciliation (procedure),283.14,NaN,NaN
1,2016-09-19T10:22:14Z,2016-09-19T10:30:24Z,86ea3680-c314-2cad-79d7-ef5db46ac53d,86ea3680-c314-2cad-8a97-8280cad02ea0,SNOMED-CT,103697008,Patient referral for dental care (procedure),431.40,NaN,NaN
2,2015-11-05T02:56:51Z,2015-11-05T03:11:51Z,f79404d1-856e-6483-efb5-c59ae407cc4f,f79404d1-856e-6483-fb7a-73edb7c7d70e,SNOMED-CT,430193006,Medication reconciliation (procedure),215.70,NaN,NaN
3,2016-10-21T23:02:36Z,2016-10-21T23:13:55Z,64b17845-be57-2777-232c-2b5298e28867,64b17845-be57-2777-6fbe-b8ddc4767441,SNOMED-CT,171207006,Depression screening (procedure),431.40,NaN,NaN
4,2016-08-10T04:10:00Z,2016-08-10T04:22:38Z,797457c1-944e-412a-7895-765be4761a76,797457c1-944e-412a-4a1d-9a586185cd67,SNOMED-CT,171207006,Depression screening (procedure),431.40,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2258269,2025-07-28T06:21:44Z,2025-07-28T06:35:14Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,171207006,Depression screening (procedure),431.40,NaN,NaN
2258270,2025-07-28T06:35:14Z,2025-07-28T07:02:45Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,171207006,Depression screening (procedure),431.40,NaN,NaN
2258271,2025-07-28T07:02:45Z,2025-07-28T07:30:12Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,715252007,Depression screening using Patient Health Ques...,25.88,NaN,NaN
2258272,2025-07-28T07:30:12Z,2025-07-28T07:40:44Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,428211000124100,Assessment of substance use (procedure),431.40,NaN,NaN
2258273,2025-07-28T07:40:44Z,2025-07-28T08:03:58Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,763302001,Assessment using Alcohol Use Disorders Identif...,431.40,NaN,NaN

In [22]:
# data4[data4['85e5acb8-9ff4-597d-94d2-19704ee2665c'] == "daaf82d6-2984-5da6-ac3c-e2df631879eb"]

In [23]:
#Renaming the columns

data4 = data4.rename(columns={

    'ff7ac362-cb56-650d-5cd4-1a7bf93bfa53': 'uuid'
    
})

In [27]:
data4.tail(750)

,2016-04-11T11:37:41Z,2016-04-11T11:48:26Z,uuid,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,SNOMED-CT,171207006,Depression screening (procedure),431.40,Unnamed: 8,Unnamed: 9
2257524,2010-03-30T08:04:39Z,2010-03-30T08:52:29Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-d808-39ed71e9b0ef,http://snomed.info/sct,711446003,Transplantation of kidney regime (regime/therapy),431.40,161665007.0,History of renal transplant (situation)
2257525,2010-03-31T08:52:29Z,2010-03-31T09:33:40Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-d808-39ed71e9b0ef,http://snomed.info/sct,711446003,Transplantation of kidney regime (regime/therapy),431.40,161665007.0,History of renal transplant (situation)
2257526,2022-11-19T22:50:10Z,2022-11-19T23:05:10Z,94624af1-2352-16ba-dabe-9f264456f625,94624af1-2352-16ba-2e62-275e556c2757,http://snomed.info/sct,430193006,Medication reconciliation (procedure),623.99,NaN,NaN
2257527,2022-11-19T22:50:10Z,2022-11-19T23:44:38Z,94624af1-2352-16ba-dabe-9f264456f625,94624af1-2352-16ba-2e62-275e556c2757,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.40,NaN,NaN
2257528,2010-04-01T09:33:40Z,2010-04-01T10:05:44Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-d808-39ed71e9b0ef,http://snomed.info/sct,711446003,Transplantation of kidney regime (regime/therapy),431.40,161665007.0,History of renal transplant (situation)
...,...,...,...,...,...,...,...,...,...,...
2258269,2025-07-28T06:21:44Z,2025-07-28T06:35:14Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,171207006,Depression screening (procedure),431.40,NaN,NaN
2258270,2025-07-28T06:35:14Z,2025-07-28T07:02:45Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,171207006,Depression screening (procedure),431.40,NaN,NaN
2258271,2025-07-28T07:02:45Z,2025-07-28T07:30:12Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,715252007,Depression screening using Patient Health Ques...,25.88,NaN,NaN
2258272,2025-07-28T07:30:12Z,2025-07-28T07:40:44Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,428211000124100,Assessment of substance use (procedure),431.40,NaN,NaN
2258273,2025-07-28T07:40:44Z,2025-07-28T08:03:58Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,763302001,Assessment using Alcohol Use Disorders Identif...,431.40,NaN,NaN

In [54]:
data4[data4["uuid"] == "d3dedcfd-08af-6326-31eb-6d5d7f28f984"]

,2016-04-11T11:37:41Z,2016-04-11T11:48:26Z,uuid,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,SNOMED-CT,171207006,Depression screening (procedure),431.40,Unnamed: 8,Unnamed: 9
2256170,2001-09-10T05:43:18Z,2001-09-10T06:39:54Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-9396-55556b121de3,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
2256171,2001-09-10T06:39:54Z,2001-09-10T07:07:06Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-9396-55556b121de3,http://snomed.info/sct,866148006,Screening for domestic abuse (procedure),431.4,NaN,NaN
2256172,2001-09-10T07:07:06Z,2001-09-10T07:18:49Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-9396-55556b121de3,http://snomed.info/sct,171207006,Depression screening (procedure),431.4,NaN,NaN
2256173,2001-09-10T07:18:49Z,2001-09-10T07:41:12Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-9396-55556b121de3,http://snomed.info/sct,171207006,Depression screening (procedure),431.4,NaN,NaN
2256174,2001-09-10T07:41:12Z,2001-09-10T07:53:58Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-9396-55556b121de3,http://snomed.info/sct,428211000124100,Assessment of substance use (procedure),431.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2257622,2011-07-21T05:43:18Z,2011-07-21T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-45da-a45197038d1b,http://snomed.info/sct,385763009,Hospice care (regime/therapy),431.4,NaN,NaN
2257623,2011-07-22T05:43:18Z,2011-07-22T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-45da-a45197038d1b,http://snomed.info/sct,385763009,Hospice care (regime/therapy),431.4,NaN,NaN
2257624,2011-07-23T05:43:18Z,2011-07-23T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-45da-a45197038d1b,http://snomed.info/sct,385763009,Hospice care (regime/therapy),431.4,NaN,NaN
2257625,2011-07-24T05:43:18Z,2011-07-24T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-45da-a45197038d1b,http://snomed.info/sct,385763009,Hospice care (regime/therapy),431.4,NaN,NaN
2257626,2011-07-25T05:43:18Z,2011-07-25T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d3dedcfd-08af-6326-45da-a45197038d1b,http://snomed.info/sct,385763009,Hospice care (regime/therapy),431.4,NaN,NaN

In [53]:
data[data["uuid"] == "d3dedcfd-08af-6326-31eb-6d5d7f28f984"]

,uuid,birth_date,death_date,social_security_number,driver's_license_number,passport_number,salutation,first_name,middle_name,last_name,...,skin_color,hispanic,gender,address,city,state,postal_code,latitude,longitude,family_income
13850,d3dedcfd-08af-6326-31eb-6d5d7f28f984,1960-05-02,2011-07-29,999-61-6192,S99969708,X63685098X,Mr.,Owen89,NaN,Jones311,...,black,nonhispanic,M,586 Marquardt Alley Apt 1,Arlington,Massachusetts,2476,42.39491,-71.189216,213002.08

In [67]:
data4['Unnamed: 9'].value_counts()

Unnamed: 9
Gingivitis (disorder)                                                           271347
Patient referral for dental care (procedure)                                    255452
Normal pregnancy (finding)                                                      173986
Chronic kidney disease stage 4 (disorder)                                        86674
End-stage renal disease (disorder)                                               37769
                                                                                 ...
Sepsis caused by Staphylococcus aureus (disorder)                                    2
Hydrocephalus (disorder)                                                             2
History of lower limb amputation (situation)                                         1
Disease caused by severe acute respiratory syndrome coronavirus 2 (disorder)         1
Meconium ileus (disorder)                                                            1
Name: count, Length: 115, dtype: int64

In [62]:
data4[data4["Depression screening (procedure)"] == "Assessment of health and social care needs (procedure)"]

,2016-04-11T11:37:41Z,2016-04-11T11:48:26Z,uuid,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,SNOMED-CT,171207006,Depression screening (procedure),431.40,Unnamed: 8,Unnamed: 9
100,2020-05-04T11:37:41Z,2020-05-04T12:23:41Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-b640-429b96d8f2fb,SNOMED-CT,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
145,2021-05-10T11:37:41Z,2021-05-10T12:14:09Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-0188-01347d545932,SNOMED-CT,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
175,2022-05-16T11:37:41Z,2022-05-16T12:11:46Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-147a-a4c54f8f24b3,SNOMED-CT,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
204,2023-05-22T11:37:41Z,2023-05-22T12:27:19Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-1835-e877e9ddf906,SNOMED-CT,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
222,2024-05-27T11:37:41Z,2024-05-27T12:17:29Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,ff7ac362-cb56-650d-e255-6b6d82bf9ba9,SNOMED-CT,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2258187,2022-07-11T05:43:18Z,2022-07-11T06:22:49Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-608c-cab9a69f0686,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
2258209,2022-08-08T05:43:18Z,2022-08-08T06:14:36Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-1862-848d56fca0ef,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
2258228,2023-07-17T05:43:18Z,2023-07-17T06:13:37Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-3113-601ef43a32ee,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
2258249,2024-07-22T05:43:18Z,2024-07-22T06:41:34Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-0a2c-f961b59bb517,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN
2258268,2025-07-28T05:43:18Z,2025-07-28T06:21:44Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,http://snomed.info/sct,710824005,Assessment of health and social care needs (pr...,431.4,NaN,NaN

In [68]:
data5 = pd.read_csv('../Datasets/csv/encounters.csv')

In [69]:
data5

,86ea3680-c314-2cad-a9dc-079acd5e8d99,2012-08-27T10:22:14Z,2012-08-27T10:37:14Z,86ea3680-c314-2cad-79d7-ef5db46ac53d,79508e39-d0b0-3613-9d54-168f6e1c3a18,63bbe4a2-342d-3ed4-b447-bca12e0aa813,8fa6c185-e44e-3e34-8bd8-39be8694f4ce,wellness,410620009,Well child visit (procedure),136.80,704.20,0.00,Unnamed: 13,Unnamed: 14
0,f79404d1-856e-6483-473b-cf6381eea492,2014-10-30T02:56:51Z,2014-10-30T03:11:51Z,f79404d1-856e-6483-efb5-c59ae407cc4f,14036728-b721-3e4b-8755-8ee8ab6ed15e,8bcc91f3-f1e3-3c91-acaf-a08e76046a09,d31fccc3-1767-390d-966a-22a5156f4219,wellness,410620009,Well child visit (procedure),136.80,704.20,0.00,NaN,NaN
1,ff7ac362-cb56-650d-eeb4-cbdb6ae6ff39,2016-04-11T11:37:41Z,2016-04-11T11:52:41Z,ff7ac362-cb56-650d-5cd4-1a7bf93bfa53,4ff8b164-4cf5-3ab4-b0f2-7ce8fda920e5,85ba8079-4ed0-39be-aa31-b8a72ef96a5f,df166300-5a78-3502-a46a-832842197811,wellness,410620009,Well child visit (procedure),136.80,704.20,604.20,NaN,NaN
2,f79404d1-856e-6483-fb7a-73edb7c7d70e,2015-11-05T02:56:51Z,2015-11-05T03:11:51Z,f79404d1-856e-6483-efb5-c59ae407cc4f,14036728-b721-3e4b-8755-8ee8ab6ed15e,8bcc91f3-f1e3-3c91-acaf-a08e76046a09,d31fccc3-1767-390d-966a-22a5156f4219,wellness,410620009,Well child visit (procedure),136.80,488.50,0.00,NaN,NaN
3,64b17845-be57-2777-bff2-1480d9ddb744,2015-10-16T23:02:36Z,2015-10-16T23:17:36Z,64b17845-be57-2777-232c-2b5298e28867,643eac8e-1620-3b6a-b9f3-664b003d22cd,b0d69d4b-5d21-3e8f-aeb2-1a6f17a29a81,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,wellness,410620009,Well child visit (procedure),136.80,755.38,0.00,NaN,NaN
4,64b17845-be57-2777-6fbe-b8ddc4767441,2016-10-21T23:02:36Z,2016-10-21T23:17:36Z,64b17845-be57-2777-232c-2b5298e28867,643eac8e-1620-3b6a-b9f3-664b003d22cd,b0d69d4b-5d21-3e8f-aeb2-1a6f17a29a81,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,wellness,410620009,Well child visit (procedure),136.80,840.20,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811804,fb67c2a7-f8a7-31e2-452e-2b5e8925a0b3,2024-08-12T05:43:18Z,2024-08-12T05:58:18Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,a5577e5c-b886-37a0-8eee-8ff6feb7ea6b,c30b768b-5771-3ac9-aabb-3ad8f6dd02d5,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,ambulatory,390906007,Follow-up encounter (procedure),85.55,234.71,0.00,55822004.0,Hyperlipidemia (disorder)
811805,fb67c2a7-f8a7-31e2-8d3f-84ae18fece53,2024-12-23T08:08:15Z,2024-12-23T08:52:15Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,a5577e5c-b886-37a0-8eee-8ff6feb7ea6b,c30b768b-5771-3ac9-aabb-3ad8f6dd02d5,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,ambulatory,36228007,Ophthalmic examination and evaluation (procedure),142.58,2730.98,1173.66,NaN,NaN
811806,fb67c2a7-f8a7-31e2-284b-e66a0823b4b2,2025-02-18T16:43:18Z,2025-02-18T16:58:18Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,a5577e5c-b886-37a0-8eee-8ff6feb7ea6b,c30b768b-5771-3ac9-aabb-3ad8f6dd02d5,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,ambulatory,185345009,Encounter for symptom (procedure),85.55,85.55,51.33,195662009.0,Acute viral pharyngitis (disorder)
811807,fb67c2a7-f8a7-31e2-ea32-a67970f7e9ea,2025-07-28T05:43:18Z,2025-07-28T06:21:44Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,542185c1-943a-30f4-aba0-0efaa92488a4,579a3e56-6410-3022-8b58-33d6fd8957dd,a735bf55-83e9-331a-899d-a82a60b9f60c,wellness,162673000,General examination of patient (procedure),136.80,989.36,607.46,NaN,NaN
811808,fb67c2a7-f8a7-31e2-711f-12ec0ab2360f,2025-08-12T05:43:18Z,2025-08-12T05:58:18Z,fb67c2a7-f8a7-31e2-e52f-eca11ed8ecd3,a5577e5c-b886-37a0-8eee-8ff6feb7ea6b,c30b768b-5771-3ac9-aabb-3ad8f6dd02d5,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,390906007,Follow-up encounter (procedure),85.55,234.71,187.76,55822004.0,Hyperlipidemia (disorder)

In [ ]:
data5[data5["86ea3680-c314-2cad-79d7-ef5db46ac53d"] == "d3dedcfd-08af-6326-31eb-6d5d7f28f984"]

,86ea3680-c314-2cad-a9dc-079acd5e8d99,2012-08-27T10:22:14Z,2012-08-27T10:37:14Z,86ea3680-c314-2cad-79d7-ef5db46ac53d,79508e39-d0b0-3613-9d54-168f6e1c3a18,63bbe4a2-342d-3ed4-b447-bca12e0aa813,8fa6c185-e44e-3e34-8bd8-39be8694f4ce,wellness,410620009,Well child visit (procedure),136.80,704.20,0.00,Unnamed: 13,Unnamed: 14
810828,d3dedcfd-08af-6326-ed6f-38bae005d16b,1961-07-31T20:39:18Z,1961-07-31T20:54:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,a2cc09de-c1e2-3126-8c09-d49f95225281,b704de04-3d7c-39dc-96f1-e4cf7a8c5ae9,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,185347001,Encounter for problem (procedure),85.55,85.55,68.44,412071004.0,Wheat (substance)
810829,d3dedcfd-08af-6326-991b-05ea6735a0a0,1961-08-20T05:43:18Z,1961-08-20T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,a2cc09de-c1e2-3126-8c09-d49f95225281,b704de04-3d7c-39dc-96f1-e4cf7a8c5ae9,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,185347001,Encounter for problem (procedure),85.55,85.55,68.44,609328004.0,Allergic disposition (finding)
810830,d3dedcfd-08af-6326-a63d-e5010ca48bfb,1964-01-28T05:43:18Z,1964-01-28T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,a2cc09de-c1e2-3126-8c09-d49f95225281,b704de04-3d7c-39dc-96f1-e4cf7a8c5ae9,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,185345009,Encounter for symptom (procedure),85.55,85.55,68.44,232353008.0,Perennial allergic rhinitis with seasonal vari...
810831,d3dedcfd-08af-6326-e53a-f7113536be27,1977-06-20T05:43:18Z,1977-06-20T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,9fdce5d5-d4d0-3156-a8d5-8757bfe4e9b3,3e384d8f-6c94-30ce-bce2-488105083fce,a735bf55-83e9-331a-899d-a82a60b9f60c,wellness,410620009,Well child visit (procedure),136.80,937.26,563.41,NaN,NaN
810832,d3dedcfd-08af-6326-38bf-9124ddf082bc,1978-06-26T05:43:18Z,1978-06-26T06:24:14Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,9fdce5d5-d4d0-3156-a8d5-8757bfe4e9b3,3e384d8f-6c94-30ce-bce2-488105083fce,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,wellness,162673000,General examination of patient (procedure),136.80,932.30,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811560,d3dedcfd-08af-6326-4960-7f86e74c224a,2011-01-10T05:43:18Z,2011-01-10T06:38:04Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,121b0ad1-1beb-3caa-9271-3d3f726bb727,c2e9b424-ce4d-3c5e-bf93-d5389ce1e47a,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,urgentcare,702927004,Urgent care clinic (environment),142.58,784.56,784.56,NaN,NaN
811562,d3dedcfd-08af-6326-9898-3e36a6de2665,2011-01-17T05:43:18Z,2011-01-17T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,d0894f6b-78d7-338d-82ad-b63de4d40014,0fef0fb1-39b6-3b8d-b185-b484285d5951,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,outpatient,185349003,Encounter for check up (procedure),85.55,85.55,85.55,NaN,NaN
811563,d3dedcfd-08af-6326-fb9a-4b5c5b56fef5,2011-01-24T05:43:18Z,2011-01-24T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,a2cc09de-c1e2-3126-8c09-d49f95225281,b704de04-3d7c-39dc-96f1-e4cf7a8c5ae9,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,ambulatory,185345009,Encounter for symptom (procedure),85.55,85.55,85.55,195662009.0,Acute viral pharyngitis (disorder)
811564,d3dedcfd-08af-6326-45da-a45197038d1b,2011-07-04T05:43:18Z,2011-07-29T05:43:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,fa34d205-5ac2-3ba2-80a4-bef345dc57f5,02477b59-6bc6-324c-b672-a3a25cb59742,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,hospice,305336008,Admission to hospice (procedure),137.53,11353.93,3155.96,NaN,NaN
811567,d3dedcfd-08af-6326-d9e4-ec8ab0c11244,2011-08-01T05:43:18Z,2011-08-01T05:58:18Z,d3dedcfd-08af-6326-31eb-6d5d7f28f984,9fdce5d5-d4d0-3156-a8d5-8757bfe4e9b3,3e384d8f-6c94-30ce-bce2-488105083fce,26aab0cd-6aba-3e1b-ac5b-05c8867e762c,wellness,308646001,Death Certification,136.80,211.38,126.83,46177005.0,End-stage renal disease (disorder)

In [101]:
#KPI-1

patient_count = len(data["uuid"])
patient_count

94

In [102]:
#KPI-2 Active patient rate

active_patient_count = int((data["death_date"].isna().sum() / patient_count) * 100)
active_patient_count

91

In [103]:
#KPI-3 Male to female ratio
gender_data = dict(data["gender"].value_counts())
male_to_female_ratio = int((gender_data.get("M", 0) / gender_data.get("F", 1)) * 100)
print(male_to_female_ratio)

88

In [104]:
#KPI-4 Mean and median family income
mean_fi, median_fi = int(data[data["death_date"].isna()][["family_income"]].mean().iloc[0]), int(data[data["death_date"].isna()][["family_income"]].median().iloc[0])

print(type(mean_fi))
print(mean_fi, median_fi, sep="\n")

# alive_patients_family_income = data[data["death_date"].isna()]

<class 'int'>
133293
69753

In [105]:
#Metric-1

data["birth_date"] = pd.to_datetime(data["birth_date"])
data["death_date"] = pd.to_datetime(data["death_date"])

current_date = pd.Timestamp.now()
data["end_date"] = data["death_date"].fillna(current_date)
data["age"] = ((data["end_date"] - data["birth_date"]).dt.days / 365.25).astype(int)

econ_dep_ratio = 0
working_age_pop = len(data[(data["age"] >= 20) & (data["age"] <= 64)])

# Calculate the ratio
dependent_pop = len(data[data["age"] < 20]) + len(data[data["age"] > 64])

# Prevent division by zero
if working_age_pop > 0:
    econ_dep_ratio = (dependent_pop / working_age_pop) * 100
else:
    pass

print(econ_dep_ratio)

54.09836065573771

In [106]:
data["age"].isnull().sum()

np.int64(0)

In [107]:
data["family_income"].isnull().sum()

np.int64(0)